button{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #080c46;
	background-color: rgb(202, 189, 247);
	font-weight: bold;
}

body{
	background:#171941;
	font-family: "Poppins", sans-serif;
	place-items: center;
	max-width: 1300px;

}

.title{
	margin: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
	background:linear-gradient(60deg,#7b1fa2,#913f9e);
	
}

.title{
	color:#fff;
	font-size:1.8em;
	margin: 20px;
	letter-spacing:1px;
	
}

.card{
	text-align:center;
	color:#fff;
	background-color: #1f2251;
	width: 400px;
	height: 170px;
	box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
}


@media screen and (max-width: 768px) {
	.container{
		margin-top:50px;
		
	}
}

.row{
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 5px;
	gap: 30px;
}


h2, h4, p{
	margin: 4px;
}

.botonera{
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 5px;
	gap: 30px;
}

.btn{
height: 35px;
box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.5);
border-radius: 5px;
font-size: large;
}

.btn-selector{
	border-radius: 5px;
	}