body{
	background:#171941;
	font-family: "Poppins", sans-serif;
}

button{
	font: cambria;
	color: #171d7c
}

.navbar{
	background:linear-gradient(60deg,#7b1fa2,#913f9e);
	
}

.title{
	color:#fff;
	font-size:1.8em;
	margin:auto;
	letter-spacing:1px;
	
}
.container{
	height:800px;
}
.card{
	width: 100%;
	text-align:center;
	color:#fff;
	background-color: #1f2251;
	width: 400px;
	float: left;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	border-radius: 5px;
}

@media screen and (max-width: 768px) {
	.container{
		margin-top:50px;
	}
}

.row{
	display: flex;
	margin: 10px;
}